<?xml version="1.0" encoding="UTF-8"?>
<!--
 담당자: 박요한
 시작 일자: 2024.09.22
 설명 : 문의사항 mapper.
 _____________________
 2024.9.22 박요한 | 생성.
 2024.9.24 김호영 | 문의사항 조회, 답변등록.
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mywork.stitchbe.mapper.InquiryMapper">
    <!-- 사용자의 문의 등록 -->
    <insert id="insertInquiry" parameterType="org.mywork.stitchbe.dto.InquiryDTO">
        INSERT INTO inquiry (
            category,
            title,
            content,
            member_id,
            regdate,
            status
        )
        VALUES (
            #{category},
            #{title},
            #{content},
            #{memberId},
            SYSDATE,   <!-- 현재 시간 삽입 -->
            '처리 중'  <!-- 초기 상태는 '처리 중' -->
        )
    </insert>


    <!-- 호영 작성 -->

    <!-- 문의 사항 답변 등록 -->
    <update id="updateInquiryAnswer">
        UPDATE inquiry
        SET admin_id = #{adminId}, answer = #{answer}, ansdate = SYSDATE, status = 'answered'
        WHERE inquiry_id = #{inquiryId}
    </update>

    <!-- 사용자 문의사항 조회 -->
    <select id="findInquiriesByMemberId" resultType="org.mywork.stitchbe.dto.InquiryDTO">
        SELECT i.inquiry_id AS inquiryId,
        i.member_id AS memberId,
        i.category,
        i.title,
        i.content,
        i.answer,
        i.status,
        i.regdate AS regDate,
        i.ansdate AS ansDate,
        m.nickname AS memberName,
        a.nickname AS adminName
        FROM inquiry i
        LEFT JOIN member m ON i.member_id = m.member_id
        LEFT JOIN member a ON i.admin_id = a.member_id
        WHERE i.member_id = #{memberId}
    </select>


</mapper>