<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mywork.stitchbe.mapper.MemberMapper">
    <!--작성자 : 박주희-->

    <select id="findByEmail" parameterType="org.mywork.stitchbe.dto.MemberDto" resultType="org.mywork.stitchbe.dto.MemberDto">
        SELECT member_id, EMAIL, password, NICKNAME
        FROM MEMBER
        WHERE email = #{email}
    </select>

    <select id="findMemberIdByEmail" resultType="Long">
        SELECT member_id
        FROM member
        WHERE email = #{email}
    </select>

    <insert id="saveMember" parameterType="org.mywork.stitchbe.dto.MemberDto">
        <selectKey keyProperty="memberId" resultType="long" order="BEFORE">
            SELECT member_seq.NEXTVAL FROM dual
        </selectKey>
        INSERT INTO member (member_id, email, password, oldpassword, nickname, name, address, gender, birth, phone)
        VALUES (#{memberId}, #{email}, #{password}, #{oldPassword}, #{nickname}, #{name}, #{address}, #{gender}, #{birth}, #{phone})
    </insert>


    <update id="updateMemberPassword" parameterType="org.mywork.stitchbe.dto.MemberDto">
        UPDATE MEMBER
        SET password = #{password}, oldPassword = #{oldPassword}, editdate = sysdate
        WHERE member_id = #{memberId}
    </update>

    <!-- AUTH 테이블에서 권한 조회 -->
    <select id="findAuthoritiesByEmail" parameterType="org.mywork.stitchbe.dto.MemberDto" resultType="String">
        SELECT authority FROM auth WHERE email = #{email}
    </select>

    <insert id="saveUserRole">
        INSERT INTO AUTH (email, authority) VALUES (#{email}, #{authority})
    </insert>

    <select id="existsByEmail" resultType="boolean">
        SELECT CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END
        FROM member
        WHERE email = #{email}
    </select>

    <select id="findByNickname" resultType="boolean">
        SELECT CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END
        FROM member
        WHERE nickname = #{nickname}
    </select>


</mapper>
