<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mywork.stitchbe.mapper.MemberMapper">

    <select id="findByEmail" parameterType="String" resultType="org.mywork.stitchbe.dto.MemberDto">
        SELECT MEMBER_ID, email, password, name, nickname, address, gender, BIRTH, phone, role, signupdate
        FROM MEMBER
        WHERE email = #{email}
    </select>

    <insert id="saveMember" parameterType="org.mywork.stitchbe.dto.MemberDto" useGeneratedKeys="true" keyProperty="memberId">
        INSERT INTO member (email, password, name, nickname, address, gender, birth, phone, role, signupdate)
        VALUES (#{email}, #{password}, #{name}, #{nickname}, #{address}, #{gender}, #{birth}, #{phone}, #{role}, sysdate)
    </insert>

</mapper>
