<?xml version="1.0" encoding="UTF-8"?>
<!--
 담당자: 박요한
 시작 일자: 2024.09.24
 설명 : 결제 mapper.
 _____________________
 2024.9.24 박요한 | 생성.
 2024.9.25 김호영 | 결제 정보 확인 구현.
 2024.10.1 박요한 | 마이페이지 내역 조회.
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mywork.stitchbe.mapper.PaymentMapper">
    <!-- 결제 완료 정보 추가 -->
    <insert id="insertPayment" parameterType="org.mywork.stitchbe.dto.PaymentDTO">
        INSERT INTO payment
            (member_id, amount, method, category, status, paydate)
        VALUES
            (#{memberId}, #{amount}, #{method}, #{category}, #{status}, SYSDATE)
    </insert>

    <!-- 회원의 결제 내역 조회 -->
    <select id="getPaymentsByMemberId" parameterType="Long" resultType="org.mywork.stitchbe.dto.PaymentDTO">
        SELECT
            p.payment_id AS paymentId,
            p.member_id AS memberId,
            p.amount AS amount,
            p.method AS method,
            p.category AS category,
            p.status AS status,
            p.paydate AS payDate,
            p.editdate AS editDate,
            m.name AS memberName
        FROM payment p
            JOIN member m ON p.member_id = m.member_id
        WHERE p.member_id = #{memberId}
            AND p.category = 'donation'  <!-- 후원 카테고리만 가져옴 -->
        ORDER BY p.paydate DESC
    </select>


    <!-- 호영 -->

    <!-- 모든 결제 정보 조회 (관리자용) -->
    <select id="getAllPayments" resultType="org.mywork.stitchbe.dto.PaymentDTO">
        SELECT p.payment_id AS paymentId, p.member_id AS memberId, p.amount AS amount,
        p.method AS method, p.category AS category, p.status AS status,
        p.paydate AS payDate, p.editdate AS editDate, m.nickname AS memberName
        FROM payment p
        JOIN member m ON p.member_id = m.member_id
    </select>

    <!-- 결제 상태 업데이트 -->
    <update id="updatePaymentStatus">
        UPDATE payment
        SET status = #{status}, editdate = SYSDATE
        WHERE payment_id = #{paymentId}
    </update>

</mapper>