<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.mywork.stitchbe.mapper.board.ReportMapper">

    <!-- 신고 데이터 삽입 -->
    <insert id="insertReport" parameterType="org.mywork.stitchbe.dto.board.ReportDto">
        INSERT INTO report (
            member_id,
            board_id,
            comment_id,
            type,
            content,
            regdate
        ) VALUES (
                     #{memberId},
                     #{boardId, jdbcType=NUMERIC},
                     #{commentId, jdbcType=NUMERIC},
                     #{type},
                     #{content},
                     SYSDATE
                 )
    </insert>


</mapper>
